.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
}
li{
    list-style-type: none;
    margin-right: 25px;
    font-size: 32px;
    letter-spacing: 2px;
    display: inline;
    color: grey;
    border-bottom: 1px solid mediumspringgreen;
    cursor: pointer;
}
li:hover{
    border-color: grey;
}
@media only screen and (max-width: 250px){
    li{
        font-size: 20px;
    }
}