.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
}
.box{
    /* width: 300px; */
    flex-basis: 3000px; /*shrinked to remaining width*/
    line-height: 300px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.box1{
    background-color: rgb(80, 80, 199);
}
.box2{
    background-color: rgb(180, 52, 52);
}
.box3{
    background-color: rgb(184, 73, 92);
}
.box4{
    background-color: rgb(105, 189, 105);
}