<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="./dist/index.js"></script>
    <title>Documentation of Directives</title>
</head>

<body ng-app="myApp" ng-controller="formsController">
    <h1 class="text-center">Documentation of Directives</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <document-section data-title="ng-model from index.html">
                    <input type="text" data-ng-model="form.carType">
                    <input type="checkbox" data-ng-model="form.hasTurbo">
            </document-section>{{form}}

            <br>

            <document-section data-title="formDisabled from index.html">
                    <input type="text" data-ng-model="formDisabled.name" data-ng-disabled="formDisabled.disableName">
                    <input type="checkbox" data-ng-model="formDisabled.disableName">
                <br>
            </document-section>
                <p>{{formDisabled}}</p>

        </div>
</body>

</html>