<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="./app/index.js"></script>
    <script src="./app/factory.js"></script>
    <script src="./app/services.js"></script>
    <script src="./app/controllers.js"></script>
    <title>Basic Application</title>
</head>

<body ng-app="diApp">

    <div ng-controller="mainCtrl">
        <h1 class="text-center">{{controllerName}}</h1>
        <input type="text" ng-model="car" ng-change="selectCar()" />
        <span>Message is {{message}}</span>
    </div>

    <div ng-controller="secondCtrl">
        <h1 class="text-center">{{controllerName}}</h1>
        <input type="text" ng-model="car" ng-change="selectCar()" />
        <span>Message is {{message}}</span>
    </div>
</body>

</html>