.flex-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.box{
    /* width: 300px; */
    flex-basis: 400px; 
    flex-shrink: 1; /* normal shrink rate*/
    line-height: 300px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.box1{
    background-color: rgb(80, 80, 199);
    flex-shrink: 2; /*will shrink 2 times faster*/
}
.box2{
    background-color: rgb(180, 52, 52);
}
.box3{
    background-color: rgb(184, 73, 92);
    flex-shrink: 2; /*will shrink 2 times faster*/
}
.box4{
    background-color: rgb(105, 189, 105);
}